In [4]:
import os
from dotenv import load_dotenv
import pandas as pd
import yfinance as yf
import requests
from alpha_vantage.timeseries import TimeSeries
import json
import datetime as dt

load_dotenv()

query_functions = ['VWAP','STOCH']

def VWAP_data_requests(ticker='AMC', interval='1min'):
    key = os.environ.get('alpha_VANTAGE_API')
    json = requests.get(f'https://www.alphavantage.co/query?function=VWAP&symbol={ticker}&interval={interval}&outputsize=full&apikey={key}').json()
    stock_df = pd.DataFrame(json['Technical Analysis: VWAP'])
    stock_df = stock_df.transpose()
    json2 = requests.get(f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval={interval}&outputsize=full&apikey={key}').json()
    time_df = pd.DataFrame(json2[f'Time Series ({interval})']).transpose()
    temp_list = []
    for x in stock_df['VWAP']:
        temp_list.append(x)
    time_df['VWAP'] = temp_list
    time_df = time_df.reset_index()
    time_df = time_df.rename(columns={'index':'date'})
    time_df.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume',
        'VWAP']
    time_df['Date'] = pd.to_datetime(time_df['Date'])
    data = time_df.loc[time_df['Date']>dt.datetime.strptime('2021-02-04', '%Y-%m-%d')]
    return data
VWAP_data_requests()

                    Date    Open    High     Low   Close Volume    VWAP
0    2021-02-05 20:00:00  6.9000  6.9000  6.8700  6.8700  78379  7.2078
1    2021-02-05 19:59:00  6.8900  6.9000  6.8500  6.8900  71285  7.2080
2    2021-02-05 19:58:00  6.9000  6.9000  6.8900  6.9000  18352  7.2081
3    2021-02-05 19:57:00  6.9000  6.9000  6.8900  6.8900  22332  7.2081
4    2021-02-05 19:56:00  6.9000  6.9000  6.8900  6.8900  12591  7.2081
...                  ...     ...     ...     ...     ...    ...     ...
1899 2021-02-04 04:05:00  8.7300  8.8500  8.7300  8.7300   8728  8.7907
1900 2021-02-04 04:04:00  8.7500  8.7500  8.6100  8.7300  13301  8.7944
1901 2021-02-04 04:03:00  9.0000  9.0000  8.8000  8.8100  15017  8.8304
1902 2021-02-04 04:02:00  8.7200  9.0000  8.7200  9.0000  10942  8.8022
1903 2021-02-04 04:01:00  8.6000  8.7500  8.6000  8.7200  10185  8.6900

[1904 rows x 7 columns]